{% extends "index.html" %}
{% block content %}
{% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
<div class="container text-center bg-dark-subtle">
    <form action="/urls" method="post" class="row justify-content-center">
      <h1>Анализатор страниц</h1>
      <label for="searchInput" class="form-label">Бесплатно проверяйте сайты на SEO пригодность</label>
      <div class="col-md-auto">
        <input name="url" class="form-control form-control-lg" id="searchInput" type="search" placeholder="https://www.example.com" aria-label="search">
        <button type="submit" class="btn btn-primary mb-3">ПРОВЕРИТЬ</button>
      </div>
      <div class="col-md-auto">
      </div>
    </form>
</div>
{% endblock %}