{% extends "index.html" %}
{% block content %}
<div>
    <h1>Cайты</h1>
    <table class="table table-light table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
            </tr>
        </thead>
        {% for url in urls %}
        <tbody></tbody>
            <tr>
                <td>
                    {{ url[0] }}
                </td>
                <td>
                    {{ url[1] }}
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}